---
layout: default
title: 首页
lang: zh
---

<div class="article">
    <ul>
        {% for post in paginator.posts %}
        <li>
            <div class="article-data">
                <div class="article-data-date">
                    <p>{{ post.date | date: "%Y/%m/%d" }}</p>
                </div>
                <div class="article-data-tag">
                    <p>{{ post.categories | first }}</p>
                </div>
            </div>
            <div class="article-content">
                <a href="{{ post.url | relative_url }}"><h2>{{ post.title }}</h2></a>
                <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="page-nav">
    <ul id="pagination">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}" class="previous-page">上一页</a></li>
        {% endif %}
        
        {% for page in (1..paginator.total_pages) %}
        <li>
            {% if page == paginator.page %}
            <a class="active">{{ page }}</a>
            {% elsif page == 1 %}
            <a href="{{ '/' | relative_url }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        </li>
        {% endfor %}
        
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}" class="next-page">下一页</a></li>
        {% endif %}
    </ul>
</div>