<header class="header">
    <div class="header-top">
        <div class="lang">
            <a href="/index-zh.html" class="lang-link {% if page.lang == 'zh' %}active{% endif %}">ZH</a>
            <a href="/index-en.html" class="lang-link {% if page.lang == 'en' %}active{% endif %}">EN</a>
        </div>
    </div>
    <div class="header-middle">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}">首页</a></li>
                <li><a href="{{ '/categories' | relative_url }}">分类</a></li>
                <li><a href="{{ '/friends' | relative_url }}">友邻</a></li>
                <li><a href="{{ '/support' | relative_url }}">支持</a></li>
                <li><a href="{{ '/bookshelf' | relative_url }}">书架</a></li>
                <li><a href="{{ '/about' | relative_url }}">关于</a></li>
            </ul>
        </div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="">
            <i class="fas fa-search search-icon"></i>
        </div>
    </div>
</header>