---
layout: default
---
<div class="article">
    <ul>
        {% assign fragments = site.fragments | sort: 'date' | reverse %}
        {% for fragment in fragments %}
        <li>
            <div class="article-data">
                <div class="article-data-date">
                    <p>{{ fragment.date | date: "%Y/%m/%d" }}</p>
                </div>
                <div class="article-data-tag">
                    <p>{{ fragment.tags | join: ", " }}</p>
                </div>
            </div>
            <div class="article-content">
                <a href="{{ fragment.url | relative_url }}">
                    <h2>{{ fragment.title }}</h2>
                </a>
                <p>{{ fragment.content | strip_html | truncate: 150 }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>