---
layout: base
---
<div class="article">
    <h2>标签: {{ page.tag }}</h2>
    <ul>
    {% assign tag_posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}
    {% if tag_posts.size > 0 %}
    {% assign sorted_posts = tag_posts | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
    <li>
        <div class="article-data">
            <div class="article-data-date">
                <p>{{ post.date | date: "%Y/%m/%d" }}</p>
            </div>
            <div class="article-data-tag">
                <p>{{ post.tags | first }}</p>
            </div>
        </div>
        <div class="article-content">
            <a href="{{ post.url | relative_url }}"><h2>{{ post.title }}</h2></a>
            <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <p>该标签下暂无文章。</p>
    {% endif %}
    </ul>
</div>